body {
    font: 14px 'Arial', sans-serif;
    color: #222;
    background-color: white;
    margin: 0px;
}

#navbar {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 6px 0px 6px;
    height: 60px;
}

#about {
    margin: 0px 5px 0px 15px;
    padding: 5px;
}

#store {
    margin: 0px 5px;
    padding: 5px;
}

#space {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    margin:0px
}

#right {
    display: flex;
    font-size: 13px;
    padding: 0px 0px 0px 32px;
    flex: 0 0 auto;
    align-items: center;
    vertical-align: middle;
    
}

#more {
    width: 23px;
    height: 23px;
    margin-left: 10px;
}

#account {
    padding: 0px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.rightnav-button {
    margin-right: 15px;
}

.header-button {
    color: black;
    white-space: nowrap;
    text-decoration: none;
}

#google-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
}

#google-logo {
    margin-top: auto;
}

#above-logo-whitespace {
    height: auto;
}

#search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    max-height: 160px;
}

#search-container {
    width: 584px;
}

#search-outline {
    margin-top: 6px;


    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;

    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 8px;

    height: 44px;
    /*width: 582px;*/
}

#search-input {
    background-color: transparent;
    padding: 0px;
    /*margin-top: -40px;*/
    border-style: none;
    outline: none;
    height: 34px;
    min-width: 487px ;

    /*position: relative;*/

    font: 14px 'Arial', sans-serif;
}

#search-outline:hover  {
    box-shadow: 0px 1px 5px lightgrey;
}

#mag-glass {
    display: flex;
    align-items: center;
    padding-right: 13px;
    width: 33px;
}

#mic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 0px 8px 0px 8px;
}

.mini-icon-mag {
    height: 16px;
    width: 16px;
}

.mini-icon-mic {
    height: 20px;
    width: auto;
}

.button-container {
    height: 58;
    text-align: center;
}

.search-button {
    font-size: 14px;

    align-self: center;
    margin: 11px 4px;
    padding: 0px 16px;

    background-color: rgb(250, 250, 250);
    border-radius: 4px;
    border-style: none;
    height: 36px;
}

.search-button:hover {
    box-shadow: 0px 1px 1px lightgrey;
    border: 1px solid #dfdfdf;
}

#spacer {
    display: flex;
    background-color: yellowgreen;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

footer {
    background-color: rgb(226, 226, 226);
}

.footer-line {
    text-align: center;
}