body {
    font: 14px 'Arial', sans-serif;
    color: #222;
    background-color: white;
    margin: 0px;
}

#navbar {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px 6px 0px 6px;
    height: 60px;
}

#about {
    margin: 0px 5px 0px 15px;
    padding: 5px;
}

#store {
    margin: 0px 5px;
    padding: 5px;
}

#nav-space {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 48px;
    margin:0px
}

#right {
    display: flex;
    font-size: 13px;
    padding: 0px 0px 0px 32px;
    flex: 0 0 auto;
    align-items: center;
    vertical-align: middle;
    
}

#more {
    width: 23px;
    height: 23px;
    visibility: visible;
}

.hover-circle {
    visibility: hidden;
    background-color: rgba(219, 219, 219, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hoverable-icon {
    margin-right: 8px !important;
}

.hover-circle:hover {
    visibility: visible;
}

#account {
    visibility: visible;
    padding: 0px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.rightnav-button {
    margin-right: 16px;
}

.header-button {
    color: black;
    white-space: nowrap;
    text-decoration: none;
}

#google-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
}

#google-logo {
    margin-top: auto;
}

#above-logo-whitespace {
    height: auto;
}

#search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    max-height: 160px;
}

#search-container {
    width: 584px;
}

#search-outline {
    margin-top: 6px;


    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;

    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 8px;

    height: 44px;
    /*width: 582px;*/
}

#search-input {
    background-color: transparent;
    padding: 0px;
    /*margin-top: -40px;*/
    border-style: none;
    outline: none;
    height: 34px;
    min-width: 487px ;

    /*position: relative;*/

    font: 14px 'Arial', sans-serif;
}

#search-outline:hover  {
    box-shadow: 0px 1px 5px lightgrey;
}

#mag-glass {
    display: flex;
    align-items: center;
    padding-right: 13px;
    width: 33px;
}

#mic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 0px 8px 0px 8px;
}

.mini-icon-mag {
    height: 16px;
    width: 16px;
}

.mini-icon-mic {
    height: 20px;
    width: auto;
}

.button-container {
    height: 58;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: -2px;
}

.search-button {
    font-size: 14px;

    align-self: center;
    margin: 11px 6px;
    padding: 0px 16px;

    background-color: rgb(250, 250, 250);
    border-radius: 4px;
    border-style: none;
    border: 1px solid transparent;
    height: 36px;

    cursor: pointer;
}

.search-button:hover {
    box-shadow: 0px 1px 1px lightgrey;
    border: 1px solid #dfdfdf;
}

#spacer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgb(240, 240, 240);
    color: #70757a;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

.footer-line {
    width: calc(100% - 40px);
    display: flex;
    justify-content:space-between;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    align-items: center;

}

.one {
    order: 1;
    justify-content: flex-start;
    min-width: 30%;
}

.three {
    order: 3;
    justify-content: flex-end;
    min-width: 30%;
}

.carbon-statement {
    color: #70757a;
    text-decoration: none;
    display: flex;
    margin: 15px;
    order: 2;
}

@media (max-width: 1200px) {
    .carbon-statement {
        order: 1;
        width: 100%;
        justify-content: center;
    }

    .one {
        order: 2;
    }

    .footer-line {
        justify-content: space-evenly;
    }
}

.footer-elem {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #70757a;
    
}

.link:hover {
    text-decoration: underline;
}